<a href="https://colab.research.google.com/github/Akanksha-11220/ICP-1/blob/main/ICP1_700772547.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Mount Google Drive to access files
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
#write a python program for the following
string_input = input("Enter a string: ") # Take input from the user
char_list = list(string_input) # Convert input string to list of characters

if len(char_list) >= 3: # Delete two characters (for example, index 1 and index 2)
    del char_list[1]
    del char_list[2]


char_list.reverse() # Reverse the resulting list
result = ''.join(char_list) # Join the list back to a string and print
print("Result after deletion and reversal:", result)

Enter a string: python
Result after deletion and reversal: notp

In [15]:
#Replace ‘python’ with ‘pythons’
sentence = input("Enter a sentence: ")

new_sentence = sentence.replace('python', 'pythons') # Use the replace() function to replace 'python' with 'pythons'
print("Updated sentence:", new_sentence) # Print the updated sentence

Enter a sentence: I love playing with python
Updated sentence: I love playing with pythons

In [16]:
# Program to print letter grade based on input class score

score = float(input("Enter your class score: ")) # Take score input from user

if score >= 90: # Use if-elif-else conditions to determine grade
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'

print("Your grade is:", grade) # Print the letter grade

Enter your class score: 92
Your grade is: A

In [17]:
#Program: Append Type of Each Element
x = [23, 'Python', 23.98]

types = [type(item) for item in x] # Create a new list that holds the type of each element in x

print(x)

print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [18]:
#Program: Sets Operations
# Given data
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]


print("Length of IT_companies:", len(IT_companies)) # Find the length of the set IT_companies

IT_companies.add('Twitter') # Add 'Twitter' to IT_companies
print("After adding Twitter:", IT_companies)

IT_companies.update(['Tesla', 'Intel', 'HP']) #  Insert multiple IT companies at once
print("After adding multiple companies:", IT_companies)


IT_companies.remove('Intel') # Remove one company
print("After removing 'Intel':", IT_companies)

#Difference between remove and discard
# remove() throws an error if the item is not found
# discard() does NOT throw an error if the item is not found
IT_companies.discard('NonExistingCompany')  # No error
# IT_companies.remove('NonExistingCompany')  # This would cause an error

print("Explanation: remove() raises an error if item not found; discard() does not.")

#Join A and B (union)
print("A union B:", A.union(B))

# A intersection B
print("A intersection B:", A.intersection(B))

#Is A subset of B
print("Is A subset of B:", A.issubset(B))

#Are A and B disjoint sets
print("Are A and B disjoint sets:", A.isdisjoint(B))

#Join A with B and B with A
print("Join A with B:", A.union(B))
print("Join B with A:", B.union(A))

#Symmetric difference between A and B
print("Symmetric difference:", A.symmetric_difference(B))

# Delete the sets completely
del A
del B


age_set = set(age) # Convert ages to a set and compare length with list
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of IT_companies: 7
After adding Twitter: {'Google', 'Amazon', 'Twitter', 'Microsoft', 'IBM', 'Facebook', 'Apple', 'Oracle'}
After adding multiple companies: {'Google', 'Amazon', 'Intel', 'HP', 'IBM', 'Facebook', 'Apple', 'Oracle', 'Microsoft', 'Tesla', 'Twitter'}
After removing 'Intel': {'Google', 'Amazon', 'HP', 'IBM', 'Facebook', 'Apple', 'Oracle', 'Microsoft', 'Tesla', 'Twitter'}
Explanation: remove() raises an error if item not found; discard() does not.
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
Join A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference: {27, 28}
Length of age list: 8
Length of age set: 5